<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="am-app-bg am-flex">
            <div class="am-app-container am-flex">
                <!-- COLUMN LEFT -->
                <div class="am-col-left">
                    <!-- Bar Left Profile -->
                    <div class="am-bar am-flex">
                        <div class="am-user am-flex">
                            <div class="am-user-img am-flex">
                                <img src="img/avatar_io.jpg" alt="Nome Utente">
                            </div>
                            <div>
                                Nome Utente
                            </div>
                        </div>
                        <div class="am-icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>                    
                        </div>
                    </div>
                    <!-- Bar Notice -->
                    <div class="am-notice am-flex">
                        <div class="am-icon-bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="am-notice-content">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- Search Input -->
                    <div class="am-search am-flex">
                        <label for="search"></label>
                        <input v-model="contactsFilterText" @keyup="filterContacts()" class="am-contact-search" type="text" id="search" placeholder="&#xf002; &ensp; Cerca o inizia una nuova chat">
                    </div>
                    <!-- Contact List -->
                    <div class="am-contact-list">
                        <ul>
                            <li v-for="(contact, index) in contacts"  
                                v-if="contact.visible" 
                                @click="selectUser(index)" 
                                :class="{'am-select-chat': currentUserActive === index}"
                            >
                                <div class="am-single-contact am-flex-contact">
                                    <div class="am-contact am-flex">
                                        <div class="am-user-img big am-flex">
                                            <img :src="'img/avatar'+ contact.avatar +'.jpg'" :alt="contact.name">
                                        </div>
                                        <div>
                                            <div class="am-contact-name">
                                                {{contact.name}}
                                            </div>
                                            <div>
                                                {{ getContactLastMessageText(index) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-contact-last-date">
                                        {{ getContactLastDate(index) }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- END COLUMN LEFT -->

                <!-- COLUMN RIGHT -->
                <div class="am-col-right">
                    <!-- Bar Right Profile -->
                    <div class="am-bar am-border-col-right am-flex">
                        <div class="am-user am-flex">
                            <div class="am-user-img">
                                <img :src="'img/avatar' + contacts[currentUserActive].avatar + '.jpg'" :alt="contacts[currentUserActive].name">
                            </div>
                            <div>
                                <div>
                                    {{contacts[currentUserActive].name}}
                                </div>
                                <div class="am-user-date">
                                    Ultimo accesso oggi alle
                                </div>
                            </div>
                        </div>
                        <div class="am-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>                         
                        </div>

                    </div>
                    <!-- Messages -->
                    <div class="am-messages">
                        <div class="am-container-messages am-flex">
                            <!-- Single Message -->
                            <div
                                v-for="message, index in contacts[currentUserActive].messages"
                                class="am-msg am-flex"
                                :class="message.status === 'received' ? 'am-message-received' : 'am-message-sent'"
                            >
                            
                                <div class="am-msg-text">
                                   {{message.text}}
                                </div>
                                <div class="am-msg-date">
                                    {{message.date}}                         
                                </div>
                                
                                <div @click="setActiveMessage(index)" class="am-msg-chevron">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>

                                <div class="am-msg-options" v-if="activeMessage === index">
                                    <ul>
                                        <li>Info messaggio</li>
                                        <li @click="deleteMessage(index)">Cancella messaggio</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- User Message -->
                    <div class="am-bar am-user-message am-border-col-right am-flex">
                        <!-- Emoticon -->
                        <div class="am-icons am-ico-msg">
                            <i class="fa-regular fa-face-smile"></i> 
                        </div>
                        <!-- User Message Input -->    
                        <div class="am-user-msg">
                            <input
                                v-model="newMessageText"
                                type="text"
                                placeholder="Scrivi un messaggio"
                                @keyup.enter="addNewMessage()"
                            >
                        </div>
                        <!-- Audio Message -->
                        <div class="am-icons am-ico-msg">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>

                </div>
                <!-- END COLUMN RIGHT -->
            </div>
    
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>